html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
.fire{
    position: absolute;
    bottom: 30px;
    left: 30px;
    cursor:pointer;
}
.github{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor:pointer;
}
